@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.link {
    transition: 200ms;
}

.link:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}